.navbar {
  -webkit-box-shadow: 4px 10px 8px -9px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 4px 10px 8px -9px rgba(0, 0, 0, 0.45);
  box-shadow: 4px 10px 8px -9px rgba(0, 0, 0, 0.45);
}

.navButton {
  color: #181818;
  font-weight: 600;
  padding: 10px 15px;
}
.navButton:hover {
  color: #e00d0d;
  text-decoration: none;
}

.logo {
  font-size: 20px;
  margin-right: 20px;
  color: #181818;
  font-weight: 700;
}

.logo:hover {
  text-decoration: none;
  color: #181818;
}

.backHome {
  background-color: #e00d0d;
  padding: 5px 15px;
  color: #fff;
  border-radius: 5px;
}

.backHome:hover {
  background-color: #181818;
  text-decoration: none;
  color: #fff;
}

.aboutus {
  color: #e00d0d;
}

.abouttext {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  text-indent: 40px;
  color: #181818;
}

.banner {
  background-image: url(./images/banner.jpg);
  height: 460px;
}

.homeButton {
  color: #fff;
  padding: 10px 30px;
  background-color: #e00d0d;
  border-radius: 5px;
}
.homeButton:hover {
  text-decoration: none;
  color: #fff;
  background-color: #181818;
}

.bannertext {
  margin-top: 90px;
  margin-left: 100px;
}

.productButton {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px 15px;
  font-size: 20px;
}

.productCard {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.text {
  background-color: #181818;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.cardContainer:hover .productButton {
  opacity: 1;
}

.cardContainer:hover .productCard {
  opacity: 0.3;
}

.addtocard {
  background-color: #e00d0d;
  color: #fff;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.75);
}

.addtocard:hover {
  background-color: #181818;
  color: #fff;
}

.productImage {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  width: 340px;
}

.price {
  color: #e00d0d;
}

.empty {
  margin-top: 120px;
}

.cartbutton {
  background-color: #e00d0d;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px 25px;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.75);
}

.cartbutton:hover {
  background-color: #181818;
  color: #fff;
}

.section {
  margin-top: 50px;
  width: 700px;
  align-items: center;
  padding: 20px 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.cartImg {
  width: 100px;
}

.removeBtn {
  color: #a1a1a1;
  padding: 0;
}

.amount {
  margin: 0;
  margin-left: 2px;
}
.arrow {
  margin-left: 1px;
}

.arrow:hover {
  color: #e00d0d;
}
